.nav-bar {
  display: flex;
  background-color: rgb(72, 69, 69);
  color: black;
  height: 55px;
  width: 550px;
}

.nav-bar img {
  padding-left: 15px;
  top: 2px;
  width: 50px;
  align-items: center;
}

.nav-list {
  display: flex;
  padding-left: 80px;
  gap: 30px;
  text-decoration: none;
  list-style-type: none;
}

.list {
  color: aliceblue;
}

.list:hover {
  color: #646cff;
}

.search-box {
  border-radius: 5px;
}
