.Navbar {
  position: fixed;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid grey;
  top: 0;
  width: 100%;
  background-color: #242424;
  z-index: 1000;
  box-sizing: border-box;
}

.Navbar li {
  list-style-type: none;
  cursor: pointer;
  text-decoration: none;
}
