<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>ENDPOINTS:</h1>
    <li>GET /users visualizza tutti gli utenti</li>
    <li>GET /users/:userId visualizza un singolo utente</li>
    <li>PUT /users/:userId Modifica nome e cognome degli utenti</li>
    <li>DELETE /users/:userId Elimina un utente</li>
  </body>
</html>