<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
  </head>
  <body>
    <h1>WELCOME TO THE HOMEPAGE</h1>
    <a href="http://localhost:3000/users">USERS</a>
    <a href="http://localhost:3000/users/1">USER</a>
    <a href="http://localhost:3000/endpoint">ENDPOINT</a>
  </body>
</html>