<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/users.css" />
    <title>Users</title>
  </head>
  <body>
    <div>
      {{#each users}}
        <h2>{{this.firstname}} {{this.lastname}}</h2>

      {{/each}}
    </div>
  </body>
</html>